<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>Додати завдання</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
		<link href='../static/css/add-task.css' rel='stylesheet'>
		<style>

		</style>
	</head>
	<body>
		<!--map-->
		<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />
		<!--map-->

        <div class = "main-functional">
            <div class="map" id='map'></div>
            <div class="input-box">
                <form class="form">
                <div class='div'>
                    <label class="label">Фокусна відстань (м)</label>
                    <input class="input" type="text" placeholder="Наприклад, 0.01">
                </div>
                <div class='div'>
                    <label class="label">Допустима висота польоту (м)</label>
                    <input class="input" type="text" placeholder="Наприклад, 1000">
                </div>
                <div class='div'>
                    <label class="label">Висота фотосенсора (мм)</label>
                    <input class="input" type="text" placeholder="Наприклад, 100">
                </div>
                <div class='div'>
                    <label class="label">Ширина фотосенсора (мм)</label>
                    <input class="input" type="text" placeholder="Наприклад, 100">
                </div>
                <div class='div'>
                    <label class="label">Об'єм батареї дрона (mAh)</label>
                    <input class="input" type="text" placeholder="Наприклад, 1000">
                </div>
                <div class='div'>
                    <label class="label">Витрати заряду на фото (mAh)</label>
                    <input class="input" type="text" placeholder="Наприклад, 10">
                </div>
                <div class='div'>
                    <label class="label">Витрати заряду на політ (mAh)</label>
                    <input class="input" type="text" placeholder="Наприклад, 1000">
                </div>
                <div class='div'>
                    <!-- <label class="label">Опция полета</label>
                    <select class="kost" class="select">
                        <option>Фото</option>
                        <option>Построение карты</option>
                        <option>Поиск двигающихся объектов</option>
                    </select> -->
                </div>
                <!--<div>
                    <label>Флажки</label>
                    <ul>
                        <li>
                            <label><input type="checkbox">Lorem ipsum dolor sit amet</label>
                        </li>
                        <li>
                            <label><input type="checkbox">Consectetur adipisicing elit</label>
                        </li>
                        <li>
                            <label><input type="checkbox" disabled="disabled">Disabled checkbox</label>
                        </li>
                    </ul>
                </div>
                <div>
                    <label>Переключатели</label>
                    <ul>
                        <li>
                            <label><input type="radio">Lorem ipsum dolor sit amet</label>
                        </li>
                        <li>
                            <label><input type="radio">Consectetur adipisicing elit</label>
                        </li>
                        <li>
                            <label><input type="radio" disabled="disabled">Disabled radio</label>
                        </li>
                    </ul>
                </div>
                <div>
                    <label>Выберите файл</label>
                    <input type="file">
                </div>
                <div>
                    <label>Textarea</label>
                    <textarea class="textarea"></textarea>
                </div>
                -->
                <div class='div'>
                    <button class="button" type="submit">Відправити</button>
                    <button class="button" type="reset">Скинути</button>
                </div>
            </form>
            </div>
        </div>
		<!-- <script type="text/javascript" src='../static/scripts/mapbox.js'></script> -->
		<script src="../static/scripts/mapbox.js">

		</script>
	</body>
</html>