<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>Додати завдання</title>
        {% include 'header.html' %}
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
		<link href='../static/css/add-task.css' rel='stylesheet'>
	</head>
	<body>
        {% include 'nav.html' %}
		<!--map-->
		<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />
        <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
		<!--map-->

        <div class = "main-functional">
            <div class="map" id='map'></div>
            <div class="input-box">
                <form class="form" method="post">
                    <div class='div'>
                        <label class="label">Фокусна відстань (м)</label><br>
                        <input class="input" type="text" name="focal_length" placeholder="Наприклад, 0.01" required>
                    </div>
                    <div class='div'>
                        <label class="label">Допустима висота польоту (м)</label><br>
                        <input class="input" type="text" name="fly_height" placeholder="Наприклад, 1000" required>
                    </div>
                    <div class='div'>
                        <label class="label">Висота фотосенсора (мм)</label><br>
                        <input class="input" type="text" name="ps_height" placeholder="Наприклад, 100" required>
                    </div>
                    <div class='div'>
                        <label class="label">Ширина фотосенсора (мм)</label><br>
                        <input class="input" type="text" name="ps_width" placeholder="Наприклад, 100" required>
                    </div>
                    <div class='div'>
                        <label class="label">Об'єм батареї дрона (mAh)</label><br>
                        <input class="input" type="text" name="battery_capacity" placeholder="Наприклад, 1000" required>
                    </div>
                    <div class='div'>
                        <label class="label">Витрати заряду на фото (mAh)</label><br>
                        <input class="input" type="text" name="photo_loss" placeholder="Наприклад, 10" required>
                    </div>
                    <div class='div'>
                        <label class="label">Витрати заряду на політ (mAh)</label><br>
                        <input class="input" type="text" name="fly_loss" placeholder="Наприклад, 1000" required>
                    </div>
                    <div></div>
                    <div class='div'>
                        <button class="button" type="submit" id='submit'>Відправити</button>
                        <button class="button" type="reset">Скинути</button>
                    </div>
                </form>
            </div>
        </div>

        <!--Save Coords-->
        <form name='PolygonsCoords' class='coords'>
            <input type="text" id='latitude-GC' name="latitude-GC">
            <input type="text" id='longitude-GC'  name="longitude-GC">
            <input type="text" id='latitude-DMS' name="latitude-DMS">
            <input type="text" id='longitude-DMS' name="longitude-DMS">
        </form>
        <!--Save Coords-->

        <!--map-->
		<script src="../static/scripts/add-task.js"></script>
	</body>
</html>