<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>Show drawn polygon area</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
		<!-- <link href='../static/css/add-task.css' rel='stylesheet'> -->
		<style>
			body { 
				margin: 0;
				padding: 0;
			}

			#map {
				position:relative;
				top:20px; 
				bottom:0; 
				left: 10%;
				width: 80%; 
				height: 450px;
			}

			.calculation-box {
				position: relative;
				height: 100px;
				width: 80%;
				top: 30px;
				left: 10%;
			}
			 
			p {
				font-family: 'Open Sans';
				margin: 0;
				font-size: 25px;
			}
		</style>
	</head>
	<body>
		<!--map-->
		<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />
		<!--map-->

		<div id='map'></div>
		<div class='calculation-box'>
			<p id='calculated-area'>Draw a polygon using the draw tools. </p>
		</div>
		
		<!-- <script type="text/javascript" src='../static/scripts/mapbox.js'></script> -->
		<script>
			mapboxgl.accessToken = 'pk.eyJ1Ijoib2xlemgiLCJhIjoiY2swZ3oxb2E3MDAzODNkdXY5NHN6NHl2biJ9.S64PvKhaqrlVk_7jVAOmdw';

			var map = new mapboxgl.Map({
				container: 'map', // container id
				style: 'mapbox://styles/mapbox/satellite-v9', //hosted style id
				center: [-91.874, 42.760], // starting position
			zoom: 12 // starting zoom
			});
			 
			var draw = new MapboxDraw({
				displayControlsDefault: false,
				controls: {
					polygon: true,
					trash: true
				}
			});

			var customData = {
			"features": [
				{
					"type": "Feature",
					"properties": {
						"title": "Lincoln Park",
						"description": "A northside park that is home to the Lincoln Park Zoo"
					},
					"geometry": {
						"coordinates": [
							-87.637596,
							41.940403
						],
						"type": "Point"
					}
				}
				],
				"type": "FeatureCollection"
			};

			function forwardGeocoder(query) {
				var matchingFeatures = [];
				for (var i = 0; i < customData.features.length; i++) {
					var feature = customData.features[i];
					// handle queries with different capitalization than the source data by calling toLowerCase()
					if (feature.properties.title.toLowerCase().search(query.toLowerCase()) !== -1) {
						// add a tree emoji as a prefix for custom data results
						// using carmen geojson format: https://github.com/mapbox/carmen/blob/master/carmen-geojson.md
						feature['place_name'] = '🌲 ' + feature.properties.title;
						feature['center'] = feature.geometry.coordinates;
						feature['place_type'] = ['park'];
						matchingFeatures.push(feature);
					}
				}
				return matchingFeatures;
			}
			 
			map.addControl(new MapboxGeocoder({
				accessToken: mapboxgl.accessToken,
				localGeocoder: forwardGeocoder,
				zoom: 14,
				placeholder: "Enter search e.g. Lincoln Park",
				mapboxgl: mapboxgl
			}));

			map.addControl(new mapboxgl.NavigationControl());
			map.addControl(draw);
		</script>
	</body>
</html>