<div>
    <label>Флажки</label>
    <ul>
        <li>
            <label><input type="checkbox">Lorem ipsum dolor sit amet</label>
        </li>
        <li>
            <label><input type="checkbox">Consectetur adipisicing elit</label>
        </li>
        <li>
            <label><input type="checkbox" disabled="disabled">Disabled checkbox</label>
        </li>
    </ul>
</div>
<div>
    <label>Переключатели</label>
    <ul>
        <li>
            <label><input type="radio">Lorem ipsum dolor sit amet</label>
        </li>
        <li>
            <label><input type="radio">Consectetur adipisicing elit</label>
        </li>
        <li>
            <label><input type="radio" disabled="disabled">Disabled radio</label>
        </li>
    </ul>
</div>
<div>
    <label>Выберите файл</label>
    <input type="file">
</div>
<div>
    <label>Textarea</label>
    <textarea class="textarea"></textarea>
</div>