<html>
    <head>
        {% include 'header.html' %}
        <meta charset="UTF-8">
        <title>Визначення змін</title> 
        <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/999afff8dc.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/999afff8dc.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href='../static/css/moving_objects.css'>
    </head>
        
    <body>
        {% include 'nav.html' %}
        <div class="text" align = "center">Визначення змін та рухомих об'єктів на фото</div>
    
        <div class="main-container">

            <div class="uploadarea">    
                <div class="upload" align = "center"> 
                    <p>Фото першого проходу</p>
                    <p class="button-upload"><i class="fas fa-upload test"></i><i class="fas fa-check check_b1"></i></p>
                </div>
            </div>
            
            <div class="uploadarea2">    
                <div class="upload" align = "center"> 
                    <p>Фото другого проходу</p>
                    <p class="button-upload"><i class="fas fa-upload test2"></i><i class="fas fa-check check_b2"></i></p>
                </div>
            </div>
        
            <div class="sendarea">
                <div class="send" align="center">
                    <p>Надіслати фото</p>
                    <p class="button-send"><i class="fas fa-file-import"></i></p>         
                </div>
            </div>
           
           <div class="downloadarea">
                <div class="download" align="center">
                    <p>Завантажити результат</p>
                    <p class="button-download"><i class="fas fa-download"></i></p>         
                </div>
            </div>
        

        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="hidden">
                <input type='file' class="input" name="input" accept="image/jpeg, image/png"    multiple> 
                <input type='file' class="input2" name="input" accept="image/jpeg, image/png"    multiple> 
            </div>
     
            <input type="submit" class="sendbutton">
            
     
     
        </form>

     
         <script>
             
             
             $(document).ready(function(){
                console.log("READY");
                 
                $(".test").click(function(){
                     $(".input").trigger("click")
                });
                 
                 $(".test2").click(function(){
                     $(".input2").trigger("click")
                });
                 
                $(".button-send").click(function(){
                    $(".inputs").trigger("click")
                });
                 
                $(".input").change(function() 
                {
                    $('.check_b1').css('display', 'inline-block');
                });
                 
                 $(".input2").change(function() 
                {
                    $('.check_b2').css('display', 'inline-block');
                });
             });
             
         </script>
     
     
    </body>
</html>