<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a href="/">Главная</a>
        </li>
        {% if session['is_logged'] %}
        <li>
            <a href="/new-polygon">Добавить таск</a>
        </li>
        <li>
            <a href="/tasks">Мои таски</a>
        </li>
        <li>
            <a href="/img-processing">Обробка зображень</a>
        </li>

        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if session['is_logged'] %}
        <li>
          <a href="/profile/{{session['nickname']}}">Профиль</a>
        </li>
        {% endif %}
        {% if session['is_logged'] %}
        <li>
          <a href="/logout">Выход</a>
        </li>
        {% endif %}
        {% if not session['is_logged'] %}
        <li>
          <a href="/sign-in-page">Вход</a>
        </li>
        {% endif %}
         {% if not session['is_logged'] %}
        <li>
          <a href="/sign-up-page">Регистрация</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>