<html>
    <head>
        <meta charset="UTF-8">
        <title>Визначення змін</title>
        {% include 'header.html' %}
        <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/999afff8dc.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/999afff8dc.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link href='../static/css/obj_detection.css' rel='stylesheet'>
    </head>
        
    <body>
    	{% include 'nav.html' %}
        <div class="text" align = "center">Визначення змін та рухомих об'єктів на фото</div>
    
        <div class='threshold'>
            <p>Cтупінь чутливості:
                <p id='threshold_value'></p>
                <div class="slidecontainer">
                    <input type="range" min="1" max="255" value="1" class="slider" id="myRange">
                </div>
            </p>
            <p>Більша чутливість прибирає більшу частину побічного шуму, тож чим вона більший, тим чіткішим є виділення нових та зниклих об'єктів.</p>
        </div>
        <div class="main-container">
            <div class="uploadarea">    
                <div class="upload" align = "center"> 
                    <p>Фото першого проходу</p>
                    <p class="button-upload"><i class="fas fa-upload test"></i><i class="fas fa-check check_b1"></i></p>
                </div>
            </div>
            <div class="uploadarea2">    
                <div class="upload" align = "center"> 
                    <p>Фото другого проходу</p>
                    <p class="button-upload"><i class="fas fa-upload test2"></i><i class="fas fa-check check_b2"></i></p>
                </div>
            </div>
            <div class="sendarea">
                <div class="send" align="center">
                    <p>Надіслати фото</p>
                    <p class="button-send"><i class="fas fa-file-import"></i></p>         
                </div>
            </div>
            <div class="downloadarea">
                <div class="download" align="center">
                    <p>Завантажити результат</p>
                    <p class="button-download"><i class="fas fa-download"></i></p>         
                </div>
            </div>
        </div>
        {% if session['obj-detection-ready'] %}
            <a href="/download-result/{{ session['obj-detection-name'][0] }}">Завантажити результат першої фотографії</a>
            <br>
            <a href="/download-result/{{ session['obj-detection-name'][1] }}">Завантажити результат другої фотографії</a>
        {% endif %}

        <form method="post" enctype="multipart/form-data" style="display: none;">
            <input type='file' class="input1" name="input1" accept="image/jpeg, image/png">
            <input type='file' class="input2" name="input2" accept="image/jpeg, image/png"> 

            <img id="blah1" src="#" alt="your image" width="160" height="120"/>
            <img id="blah2" src="#" alt="your image" width="160" height="120"/>
            <input type="text" name="threshold_v" id='threshold_v' value="1">
            <input type="submit" class="sendbutton">
        </form>
        <script>
            var img1 = document.getElementById('blah1'),
                img2 = document.getElementById('blah2');

            $(document).ready(function(){
                console.log("READY");
                $(".test").click(function(){
                    $(".input1").trigger("click")
                });
                 
                $(".test2").click(function(){
                    $(".input2").trigger("click")
                });

                $(".button-send").click(function(){
                    $(".sendbutton").trigger("click")
                });
            });
    
            function readURL1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#blah1').attr('src', e.target.result);
                        console.log("YA");
                        $('#blah1').css('display', 'block');
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURL2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#blah2').attr('src', e.target.result);
                        console.log("YA");
                        $('#blah2').css('display', 'block');
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#input1").change(function() {
                readURL(this);
            });

            $("#input2").change(function() {
                readURL(this);
            });

            var slider = document.getElementById("myRange"),
                output = document.getElementById("threshold_value"),
                thresh = document.getElementById("threshold_v");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
                output.innerHTML = this.value;
                thresh.value = this.value;
                console.log(thresh.value)
            }
        </script>
    </body>
</html>