 <html>
    <head>
        <meta charset="UTF-8">
        <title>Моя сторінка</title>
        {% include 'header.html' %}
        <link href='../static/css/profile.css' rel='stylesheet'>
    </head>
    <body>
    	{% include 'nav.html' %}
        <div class="container">
            <div class="user-info"> 
                <div class="user-name">
                    <p>{{ session['nickname'] }}</p>
                </div>
            </div>
            <div class="user-info"> 
                <div class="user-gmail">
                    <p>{{ session['email'] }}</p>
                </div>
            </div>
            <div class="table">
                <table border="1" width="100%" bordercolor="white">  
                    <tr>
                        <div class="inquiries">Список запитів</div>
                        <td>№</td>
                        <td>Дата</td>
                        <td>Час</td>
                        <td>Посилання на запит</td>
                    </tr>
                    {% for ii in range(length) %}
                    <tr>
                        <td>{{ ii+1 }}</td>
                        <td>{{ queries[ii].query_date }}</td>
                        <td></td>
                        <td><a href="/task/{{ queries[ii].id }}">Відкрити</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div> 
    </body>
</html>