 <html>
    <head>
        <meta charset="UTF-8">
        <title>Моя сторінка</title>
        {% include 'header.html' %}
        <link href='../static/css/profile.css' rel='stylesheet'>
    </head>
    <body>
    	{% include 'nav.html' %}
        <div class="container">
            <div class="user-info"> 
                <div class="user-name">
                    <p>Ім'я користувача</p>
                </div>
            </div>
            <div class="user-info"> 
                <div class="user-gmail">
                    <p>Почта користувача</p>
                </div>
            </div>
            <div class="table">
                <table border="1" width="100%" bordercolor="white">  
                    <tr>
                        <div class="inquiries">Список запитів</div>
                        <td>№</td>
                        <td>Дата</td>
                        <td>Час</td>
                        <td>Посилання на запит</td>
                    </tr>
                </table>
            </div>
        </div> 
    </body>
</html>