<!DOCTYPE html>
<html>
   <head>
       {% include 'header.html' %}
       <title>Вхід</title> 
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/sign-in-page.css') }}"/>
   </head>
   <body>
    {% include 'nav.html' %}
      <form id='sign-in-page-div' method="post">
        <h1>Вхід</h1>
        <br>
        <label class='label main-text'><big>Нікнейм</big></label>
        <input class='sign-in-page-entry-field input' name="nickname" type="text" placeholder="Нікнейм" required>
        <br><br>
        <label class='label main-text'><big>Пароль</big></label>
        <input class='sign-in-page-entry-field input' name="password" type="password" placeholder="Пароль" required>
        <br><br>
        <button class="button" type="submit">Відправити</button>
      </form>
    <script>
        {% if session['Wrong_password'] %}
            alert("Невірний пароль")
        {% elif session['Wrong_nickname'] %}
            alert("Профіль с таким ніком не існує")
        {% endif %}
    </script>
   </body>
</html>