<!DOCTYPE html>
<html>
   <head>
       {% include 'header.html' %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/tasks.css') }}" />
   </head>
   <body>
    {% include 'nav.html' %}
      <table class="problems-table">
        <tr>
          <td class="problems-column1 problems-main">ID</td>
          <td class="problems-column2 problems-main">Дата</td>
          <td class="problems-column3 problems-main">Местность</td>
          <td class="problems-column4 problems-main">Координаты</td>
        </tr>
          {% for task in task_tuple %}
          <tr>
            <td class="problems-column1">{{ task.id }}</td>
            <td class="problems-column2">
              <a href="/problem/{{ problem.id }}">{{ task.date }}</a>
            </td>
            <td class="problems-column3">{{ task.location }}</td>
            <td class="problems-column4">{{ task.coordinates }}%</td>
          </tr>
          {% endfor %}
      </table>
   </body>
</html>	</html>