<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>Завдання номер {{ obj.id }}</title>
        {% include 'header.html' %}
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
		<link href='../static/css/task.css' rel='stylesheet'>
	</head>
        {% include 'nav.html' %}
		<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />
        <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
		<!--map-->

        <div class = "main-functional">
            <div class="map" id='map'></div>
            <div class="input-box">
                <form class="form" method="post" enctype="multipart/form-data">
                    <div class='div'>
                        <label class="label">Фокусна відстань (мм)</label><br>
                        <input value="{{ obj.focal_length }}" class="input" type="text" name="focal_length" required readonly>
                    </div>
                    <div class='div'>
                        <label class="label">Допустима висота польоту (м)</label><br>
                        <input value="{{ obj.fly_height }}" class="input" type="text" name="fly_height" required readonly>
                    </div>
                    <div class='div'>
                        <label class="label">Висота фотосенсора (мм)</label><br>
                        <input value="{{ obj.ps_height }}" class="input" type="text" name="ps_height" required readonly>
                    </div>
                    <div class='div'>
                        <label class="label">Ширина фотосенсора (мм)</label><br>
                        <input value="{{ obj.ps_width }}" class="input" type="text" name="ps_width" required readonly>
                    </div>
                    <div class='div'>
                        <label class="label">Об'єм батареї дрона (mAh)</label><br>
                        <input value="{{ obj.battery_capacity }}" class="input" type="text" name="battery_capacity" required readonly>
                    </div>
                    <div class='div'>
                        <label class="label">Витрати заряду на фото (mAh)</label><br>
                        <input value="{{ obj.photo_loss }}" class="input" type="text" name="photo_loss" required readonly>
                    </div>
                    <div class='div'>
                        <label class="label">Витрати заряду на політ (mAh)</label><br>
                        <input value="{{ obj.fly_loss }}" class="input" type="text" name="fly_loss" required readonly>
                    </div>
                    <div name='PolygonsCoords' class='coords'>
                         <input value="{{ coordinates[0] }}" type="text" id='latitude-GC' name='latitude-GC'>
                         <input value="{{ coordinates[1] }}" type="text" id='longitude-GC' name='longitude-GC'>
                         <input type="text" id='latitude-DMS' name='latitude-DMS'>
                         <input type="text" id='longitude-DMS' name='longitude-DMS'>
                    </div>
                </form>
            </div>
        </div>
        
        <!--map-->
		<script src="../static/scripts/task.js"></script>
	</body>
</html>